<H1> <%="#{@like_keyword}"%>City Quake Graphics</H1>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<style>
  #selector{

  }

</style>
<%= form_tag("http://localhost:3000/interactive/hebele", :method => "get", id: "search-form") do %>
  <div id="selector">
    <%= select_tag :place,options_for_select(@cities,id:"city_shower"),:include_blank=>true%>
  </div>
  <br>
  <%= submit_tag "Search",class:"btn3d btn btn-white btn-lg" ,id:"submit"%>

<%end%>
