<STYLE>
  h1{
    color:red;
  }
</STYLE>
<h1>#QUAKES_SEARCH_SYSTEM</h1>

<%= form_tag(shows_url, :method => "get", id: "search-form") do %>
<%= select_tag :city_name,options_for_select(@cities),:include_blank=>true%>

<%= submit_tag "Search" %>
<% end %>
