
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<STYLE>
@import url('https://fonts.googleapis.com/css?family=Bungee');

#search_info{
    background-color: rgb(244, 197, 66);
    font-family: 'Bungee', cursive;

}
.form-control input-md{
  color:red;
}
h1{
    text-align: center;
}
.btn3d.btn-white:active, .btn3d.btn-white.active {
    color: white;
    background-color:white;
    position: relative;
}
#submit_tag{
  text-align: center;
}
#submit:active{
}
.select_tag_city{
  width: 20em;
  margin-left: 28em;
}
</STYLE>
<h1>#QUAKES_SEARCH_SYSTEM</h1>
  <%= form_tag(shows_url, :method => "get", id: "search-form") do %>
<div class="select_tag_city">
    <%= select_tag :city_name,options_for_select(@cities,id:"radius"),:class=>"form-control input-md",:include_blank=>true%>
  </div>
  <br>
  <div id="submit_tag">
    <%= submit_tag "Search",class:"btn3d btn btn-white btn-lg" ,id:"submit"%>
  </div>
  <% end %>
<p style="font-size:40px;margin-left:7.7em;margin-top:20px;"><%=@artist_data.id%>_QUAKE HAS BEEN ı||I|ı|ı___</p>
